body {
    background:  #F8F0E3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b7c297;
    
    
}

nav a {
    margin: 5px;
    background-color: black;
    color: white;
    
}